<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
</head>
<body>
<h1>User Management</h1>
<!--proxy合約:<%= '0x...' + contractAddress.slice(36) %>。-->
proxy合約:<%= contractAddress %>。
<!--目前合約 <%= '0x...' + currentAddress.slice(36) %>-->
目前合約: <%= currentAddress %>
<br/>
<label for="RaccountInput">帳號:</label>
<input type="text" id="RaccountInput" name="RaccountInput">
<br>
<label for="RpasswordInput">密碼:</label>
<input type="text" id="RpasswordInput" name="RpasswordInput">
<br>
<label for="RstatusSelect">狀態:</label>
<select id="RstatusSelect" name="RstatusSelect">
    <option value="">-</option>
    <option value="0">停用</option>
    <option value="1">啟用</option>
    <option value="<%= Math.pow(2, 32) - 1 %>">刪除</option>
</select>
<br>
<label for="RcreatedAtStartInput">創建時間(起):</label>
<input type="date" id="RcreatedAtStartInput" name="RcreatedAtStartInput">
<br>
<label for="RcreatedAtEndInput">創建時間(迄):</label>
<input type="date" id="RcreatedAtEndInput" name="RcreatedAtEndInput">
<br>
<label for="RupdatedAtStartInput">更新時間(起):</label>
<input type="date" id="RupdatedAtStartInput" name="RupdatedAtStartInput">
<br>
<label for="RupdatedAtEndInput">更新時間(迄):</label>
<input type="date" id="RupdatedAtEndInput" name="RupdatedAtEndInput">
<br>
<label for="RbankSelect">帳戶銀行:</label>
<select id="RbankSelect" name="RbankSelect">
    <option value="">-</option>
    <option value="1">第一銀行</option>
    <option value="2">台新銀行</option>
    <option value="3">台灣銀行</option>
    <option value="4">國泰世華銀行</option>
    <option value="5">中國信託銀行</option>
    <option value="6">兆豐銀行</option>
    <option value="7">永豐銀行</option>
    <option value="8">玉山銀行</option>
    <option value="9">凱基銀行</option>
    <option value="10">星展銀行</option>
    <option value="11">台灣企銀</option>
    <option value="12">新光銀行</option>
    <option value="13">上海商銀</option>
    <option value="14">台北富邦銀行</option>
    <option value="15">土地銀行</option>
    <option value="16">合作金庫銀行</option>
    <option value="17">華南銀行</option>
    <option value="18">臺灣高雄商業銀行</option>
    <option value="19">臺灣新生銀行</option>
    <option value="20">臺灣省農業信用合作社</option>
    <option value="21">臺灣漁業信用合作社</option>
    <option value="22">臺灣公积金信用合作社</option>
    <option value="23">臺灣中小企業銀行</option>
    <option value="24">三信銀行</option>
    <option value="25">陽信銀行</option>
    <option value="26">萬泰銀行</option>
    <option value="27">美國運通銀行</option>
    <option value="28">花旗銀行</option>
    <option value="29">法國巴黎銀行</option>
    <option value="30">德意志銀行</option>
</select>

<br>
<label for="RlocationSelect">地址:</label>
<select id="RlocationSelect" name="RlocationSelect">
    <option value="">-</option>
    <option value="1">士林夜市 (Shilin Night Market) - 台北市士林區忠誠路</option>
    <option value="2">六合夜市 (Liuhe Night Market) - 高雄市前鎮區中山三路</option>
    <option value="3">旗津島 (Qijin Island) - 高雄市旗津區旗津路</option>
    <option value="4">宜蘭美麗島港 (Yilan Meilidao Port) - 宜蘭縣冬山鄉頭城路</option>
    <option value="5">內湖藝術村 (Neihu Art Village) - 台北市內湖區內湖路一段</option>
    <option value="6">淡水老街 (Tamsui Old Street) - 新北市淡水區淡金路</option>
</select>

<br>
<label for="RremarkInput">備註:</label>
<input type="text" id="RremarkInput" name="RremarkInput">
<br>
<button onclick="filterTable()">篩選</button>

<table>
    <thead>
    <tr>
        <th>帳號</th>
        <th>密碼</th>
        <th>狀態</th>
        <th>創建時間</th>
        <th>更新時間</th>
        <th>帳戶銀行</th>
        <th>地址</th>
        <th>備註</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < users.length && i < 100; i++) { %>
        <tr>
            <td><%= users[i].account %></td>
            <td><%= users[i].password %></td>
            <td><%= 狀態(users[i].status) %></td>
            <td><%= yyyymmddhhMMss(users[i].createdAt) %></td>
            <td><%= yyyymmddhhMMss(users[i].updatedAt) %></td>
            <td><%= 銀行(users[i].bank) %></td>
            <td><%= 地點(users[i].location) %></td>
            <td><%= users[i].remark %></td>
            <td>
                <button onclick="editUser('<%= users[i].account %>','<%= users[i].password %>','<%= users[i].status %>','<%= users[i].bank %>','<%= users[i].location %>','<%= users[i].remark.replace(/\n/g, "  ") %>')">修改</button>
                <button onclick="deleteUser('<%= users[i].account %>')">刪除</button>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>
<br><br>

<div style="display:flex; justify-content: space-between;">
    <form style="width: 48%">
        <label for="accountInput"  >帳號：</label>
        <input type="text" id="accountInput" name="accountInput">
        <br><br>
        <label for="passwordInput">密碼：</label>
        <input type="text" id="passwordInput" name="passwordInput">
        <br><br>
        <label for="bankSelect">帳戶銀行:</label>
        <select id="bankSelect" name="bankSelect">
            <option value="">-</option>
            <option value="1">第一銀行</option>
            <option value="2">台新銀行</option>
            <option value="3">台灣銀行</option>
            <option value="4">國泰世華銀行</option>
            <option value="5">中國信託銀行</option>
            <option value="6">兆豐銀行</option>
            <option value="7">永豐銀行</option>
            <option value="8">玉山銀行</option>
            <option value="9">凱基銀行</option>
            <option value="10">星展銀行</option>
            <option value="11">台灣企銀</option>
            <option value="12">新光銀行</option>
            <option value="13">上海商銀</option>
            <option value="14">台北富邦銀行</option>
            <option value="15">土地銀行</option>
            <option value="16">合作金庫銀行</option>
            <option value="17">華南銀行</option>
            <option value="18">臺灣高雄商業銀行</option>
            <option value="19">臺灣新生銀行</option>
            <option value="20">臺灣省農業信用合作社</option>
            <option value="21">臺灣漁業信用合作社</option>
            <option value="22">臺灣公积金信用合作社</option>
            <option value="23">臺灣中小企業銀行</option>
            <option value="24">三信銀行</option>
            <option value="25">陽信銀行</option>
            <option value="26">萬泰銀行</option>
            <option value="27">美國運通銀行</option>
            <option value="28">花旗銀行</option>
            <option value="29">法國巴黎銀行</option>
            <option value="30">德意志銀行</option>
        </select>

        <br><br>
        <label for="locationSelect">地址:</label>
        <select id="locationSelect" name="locationSelect">
            <option value="">-</option>
            <option value="1">士林夜市 (Shilin Night Market) - 台北市士林區忠誠路</option>
            <option value="2">六合夜市 (Liuhe Night Market) - 高雄市前鎮區中山三路</option>
            <option value="3">旗津島 (Qijin Island) - 高雄市旗津區旗津路</option>
            <option value="4">宜蘭美麗島港 (Yilan Meilidao Port) - 宜蘭縣冬山鄉頭城路</option>
            <option value="5">內湖藝術村 (Neihu Art Village) - 台北市內湖區內湖路一段</option>
            <option value="6">淡水老街 (Tamsui Old Street) - 新北市淡水區淡金路</option>
        </select>

        <br><br>
        <label for="remarkInput">備註:</label>
        <textarea id="remarkInput" name="remarkInput"></textarea>
        <br><br>
        <button onclick="if (validateAccount()) { createUser() }">新增</button>

    </form>
    <form id="update-form" style="display: none;width: 48%">
        <label for="UaccountInput" class="disable" >帳號：</label>
        <input disabled="disabled" class="disable" type="text" id="UaccountInput" name="accountInput">
        <br><br>
        <label for="UpasswordInput">密碼：</label>
        <input type="text" id="UpasswordInput" name="passwordInput">
        <br><br>
        <label for="UstatusSelect">狀態:</label>
        <select id="UstatusSelect" name="UstatusSelect">
            <option value="">-</option>
            <option value="0">停用</option>
            <option value="1">啟用</option>
        </select>
        <br><br>
        <label for="UbankSelect">帳戶銀行:</label>
        <select id="UbankSelect" name="UbankSelect">
            <option value="">-</option>
            <option value="1">第一銀行</option>
            <option value="2">台新銀行</option>
            <option value="3">台灣銀行</option>
            <option value="4">國泰世華銀行</option>
            <option value="5">中國信託銀行</option>
            <option value="6">兆豐銀行</option>
            <option value="7">永豐銀行</option>
            <option value="8">玉山銀行</option>
            <option value="9">凱基銀行</option>
            <option value="10">星展銀行</option>
            <option value="11">台灣企銀</option>
            <option value="12">新光銀行</option>
            <option value="13">上海商銀</option>
            <option value="14">台北富邦銀行</option>
            <option value="15">土地銀行</option>
            <option value="16">合作金庫銀行</option>
            <option value="17">華南銀行</option>
            <option value="18">臺灣高雄商業銀行</option>
            <option value="19">臺灣新生銀行</option>
            <option value="20">臺灣省農業信用合作社</option>
            <option value="21">臺灣漁業信用合作社</option>
            <option value="22">臺灣公积金信用合作社</option>
            <option value="23">臺灣中小企業銀行</option>
            <option value="24">三信銀行</option>
            <option value="25">陽信銀行</option>
            <option value="26">萬泰銀行</option>
            <option value="27">美國運通銀行</option>
            <option value="28">花旗銀行</option>
            <option value="29">法國巴黎銀行</option>
            <option value="30">德意志銀行</option>
        </select>

        <br><br>
        <label for="UlocationSelect">地址:</label>
        <select id="UlocationSelect" name="UlocationSelect">
            <option value="">-</option>
            <option value="1">士林夜市 (Shilin Night Market) - 台北市士林區忠誠路</option>
            <option value="2">六合夜市 (Liuhe Night Market) - 高雄市前鎮區中山三路</option>
            <option value="3">旗津島 (Qijin Island) - 高雄市旗津區旗津路</option>
            <option value="4">宜蘭美麗島港 (Yilan Meilidao Port) - 宜蘭縣冬山鄉頭城路</option>
            <option value="5">內湖藝術村 (Neihu Art Village) - 台北市內湖區內湖路一段</option>
            <option value="6">淡水老街 (Tamsui Old Street) - 新北市淡水區淡金路</option>
        </select>

        <br><br>
        <label for="UremarkInput">備註:</label>
        <textarea id="UremarkInput" name="UremarkInput"></textarea>
        <br><br>
        <button onclick="updateUser()">更新</button>
        <button onclick="取消編輯()">取消</button>
    </form>
</div>


</body>

<script>
    function createUser() {
        const 新使用者 = {
            'account': document.getElementById('accountInput').value,
            'password': document.getElementById('passwordInput').value,
            'bank': document.getElementById('bankSelect').value,
            'location': document.getElementById('locationSelect').value,
            'remark': document.getElementById('remarkInput').value,
        }
        // 處理新增使用者的邏輯
        fetch(`/users/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify(新使用者)
        })
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    alert(data.resultMessage)
                } else {
                    alert(data.resultMessage)
                }
            })
            .catch(error => {
                console.error('Error:', error)
            })
    }

    function editUser(帳號, 密碼, 狀態, 銀行, 地點, 備註) {
        // 處理修改使用者的邏輯
        const updateForm = document.getElementById('update-form');
        document.getElementById('UaccountInput').value = 帳號
        document.getElementById('UpasswordInput').value = 密碼
        document.getElementById('UstatusSelect').value = 狀態
        document.getElementById('UbankSelect').value = 銀行
        document.getElementById('UlocationSelect').value = 地點
        document.getElementById('UremarkInput').value = 備註
        updateForm.style.display = 'block';
    }
    function deleteUser(account) {
        fetch(`/users/${account}`, {
            method: 'DELETE',
        })
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    alert(data.resultMessage)
                } else {
                    alert(data.resultMessage)
                }
            })
            .catch(error => {
                console.error('Error:', error)
            })
    }

    function 取消編輯() {
        const updateForm = document.getElementById('update-form');
        document.getElementById('UaccountInput').value = ''
        document.getElementById('UpasswordInput').value = ''
        document.getElementById('UstatusSelect').value = ''
        document.getElementById('UbankSelect').value = ''
        document.getElementById('UlocationSelect').value = ''
        document.getElementById('UremarkInput').value = ''
        updateForm.style.display = 'none';
    }

    function validateAccount() {
        const account = document.getElementById("accountInput").value;
        if (!account) {
            alert("帳號不能為空白");
            return false;
        }
        // 其他的檢查，例如帳號長度是否合法
        return true;
    }

    function updateUser() {
        const 被更新的使用者 = {
            'account': document.getElementById('UaccountInput').value,
            'password': document.getElementById('UpasswordInput').value,
            'status':document.getElementById('UstatusSelect').value,
            'bank':document.getElementById('UbankSelect').value,
            'location':document.getElementById('UlocationSelect').value,
            'remark':document.getElementById('UremarkInput').value,
        }
        // 處理新增使用者的邏輯
        fetch(`/users/${被更新的使用者.account}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify(被更新的使用者)
        })
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    alert(data.resultMessage)
                } else {
                    alert(data.resultMessage)
                }
            })
            .catch(error => {
                console.error('Error:', error)
            })
    }

    function filterTable() {
        const account = encodeURIComponent(document.getElementById('RaccountInput').value);
        const password = encodeURIComponent(document.getElementById('RpasswordInput').value);
        const status = encodeURIComponent(document.getElementById('RstatusSelect').value);
        var date = new Date(document.getElementById('RcreatedAtStartInput').value);
        const createdAtStart = encodeURIComponent(date.getTime()/1000);
        date = new Date(document.getElementById('RcreatedAtEndInput').value);
        const createdAtEnd = encodeURIComponent(date.getTime()/1000);
        date = new Date(document.getElementById('RupdatedAtStartInput').value);
        const updatedAtStart = encodeURIComponent(date.getTime()/1000);
        date = new Date(document.getElementById('RupdatedAtEndInput').value);
        const updatedAtEnd = encodeURIComponent(date.getTime()/1000);
        const bank = encodeURIComponent(document.getElementById('RbankSelect').value);
        const location = encodeURIComponent(document.getElementById('RlocationSelect').value);
        const remark = encodeURIComponent(document.getElementById('RremarkInput').value);

        window.location.href = `/users?status=${status}&account=${account}&createdAtStart=${createdAtStart}&createdAtEnd=${createdAtEnd}&updatedAtStart=${updatedAtStart}&updatedAtEnd=${updatedAtEnd}&password=${password}&bank=${bank}&location=${location}&remark=${remark}`;

    }</script>

<!--計算=>-->

<% function yyyymmdd(timestamp) {
    var date = new Date(timestamp * 1000);
    var year = date.getFullYear();
    var month = ("0" + (date.getMonth() + 1)).slice(-2);
    var day = ("0" + date.getDate()).slice(-2);

    var yyyymmdd = year + month + day;

    return yyyymmdd;
} %>

<% function yyyymmddhhMMss(timestamp) {
    // let timestamp = 1675907863;
    let date = new Date(timestamp * 1000);
    let year = date.getFullYear();
    let month = date.getMonth() + 1;
    let day = date.getDate();
    let hour = date.getHours();
    let minute = date.getMinutes();
    let second = date.getSeconds();

// 整理格式，補零至兩位數
    month = (month < 10 ? "0" : "") + month;
    day = (day < 10 ? "0" : "") + day;
    hour = (hour < 10 ? "0" : "") + hour;
    minute = (minute < 10 ? "0" : "") + minute;
    second = (second < 10 ? "0" : "") + second;

// 組合並輸出
    let output = year + "" + month + "" + day + "  " + hour + ":" + minute + ":" + second;

    return output;
} %>

<% function 狀態(狀態碼) {
    if (狀態碼 ==0){return '停用'}
    if (狀態碼 ==1){return '啟用'}
    if (狀態碼 ==Math.pow(2, 32) - 1){return '刪除'}
    return '-'
} %>

<% function 銀行(銀行碼) {
if (銀行碼 ==1){return '第一銀行'}
if (銀行碼 ==2){return '台新銀行'}
if (銀行碼 ==3){return '台灣銀行'}
if (銀行碼 ==4){return '國泰世華銀行'}
if (銀行碼 ==5){return '中國信託銀行'}
if (銀行碼 ==6){return '兆豐銀行'}
if (銀行碼 ==7){return '永豐銀行'}
if (銀行碼 ==8){return '玉山銀行'}
if (銀行碼 ==9){return '凱基銀行'}
if (銀行碼 ==10){return '星展銀行'}
if (銀行碼 ==11){return '台灣企銀'}
if (銀行碼 ==12){return '新光銀行'}
if (銀行碼 ==13){return '上海商銀'}
if (銀行碼 ==14){return '台北富邦銀行'}
if (銀行碼 ==15){return '土地銀行'}
if (銀行碼 ==16){return '合作金庫銀行'}
if (銀行碼 ==17){return '華南銀行'}
if (銀行碼 ==18){return '臺灣高雄商業銀行'}
if (銀行碼 ==19){return '臺灣新生銀行'}
if (銀行碼 ==20){return '臺灣省農業信用合作社'}
if (銀行碼 ==21){return '臺灣漁業信用合作社'}
if (銀行碼 ==22){return '臺灣公积金信用合作社'}
if (銀行碼 ==23){return '臺灣中小企業銀行'}
return 銀行碼
} %>
<%function 地點(地點碼) {
    if (地點碼 == 1){return '士林夜市 (Shilin Night Market) - 台北市士林區忠誠路'}
    if (地點碼 == 2){return '六合夜市 (Liuhe Night Market) - 高雄市前鎮區中山三路'}
    if (地點碼 == 3){return '旗津島 (Qijin Island) - 高雄市旗津區旗津路'}
    if (地點碼 == 4){return '宜蘭美麗島港 (Yilan Meilidao Port) - 宜蘭縣冬山鄉頭城路'}
    if (地點碼 == 5){return '內湖藝術村 (Neihu Art Village) - 台北市內湖區內湖路一段'}
    if (地點碼 == 6){return '淡水老街 (Tamsui Old Street) - 新北市淡水區淡金路'}
    return 地點碼
}

%>



<!--<style>-->
<!--    /*body {*/-->
<!--    /*    background-image: url('images/930523982_today_is_Lantern_Festival__massive_rain_in_neon_city_with_cyberpunk__style_.png');*/-->
<!--    /*    background-size: cover;*/-->
<!--    /*    background-repeat: no-repeat;*/-->
<!--    /*}*/-->

<!--    body {-->
<!--        background-image: url('images/930523982_today_is_Lantern_Festival__massive_rain_in_neon_city_with_cyberpunk__style_.png'); /* 背景圖片 */-->
<!--        background-size: cover; /* 將圖片覆蓋整個 body */-->
<!--        font-family: Arial, sans-serif; /* 字型 */-->
<!--    }-->

<!--    h1 {-->
<!--        text-align: center; /* 將標題置中 */-->
<!--        color: #fff; /* 文字顏色 */-->
<!--        text-shadow: 1px 1px #333; /* 文字陰影 */-->
<!--    }-->

<!--    table {-->
<!--        margin: auto; /* 將表格置中 */-->
<!--        width: 80%; /* 表格寬度 */-->
<!--        border-collapse: collapse; /* 移除表格邊框 */-->
<!--        box-shadow: 1px 1px #333; /* 表格陰影 */-->
<!--        color: #fff; /* 表格文字顏色 */-->
<!--    }-->

<!--    th, td {-->
<!--        padding: 8px; /* 表格內距 */-->
<!--        border: 1px solid #333; /* 表格邊框 */-->
<!--        text-align: center; /* 將表格文字置中 */-->
<!--    }-->

<!--    th {-->
<!--        background-color: #333; /* 表格標題背景顏色 */-->
<!--    }-->

<!--    button {-->
<!--        background-color: #333; /* 按鈕背景顏色 */-->
<!--        color: #fff; /* 按鈕文字顏色 */-->
<!--        padding: 8px 16px; /* 按鈕內距 */-->
<!--        border-radius: 4px; /* 按鈕圓角 */-->
<!--        border: none; /* 移除按鈕邊框 */-->
<!--        cursor: pointer; /* 指標樣式 */-->
<!--    }-->

<!--    label {-->
<!--        color: #fff; /* 標籤文字顏色 */-->
<!--    }-->

<!--    input[type="text"] {-->
<!--        padding: 8px; /* 輸入框內距 */-->
<!--        width: 100%; /* 輸入框寬度 */-->
<!--        border-radius: 4px; /* 輸入框圓角 */-->
<!--        border: 1px solid #333; /* 輸入框邊框 */-->
<!--        color: #fff; /* 輸入框文字顏色 */-->
<!--        background-color: #333; /* 輸入框背景顏色 */-->
<!--    }-->

<!--    .disable {-->
<!--        color: gray;-->
<!--    }-->
<!--    input[disabled] {-->
<!--        color: gray;-->
<!--    }-->


<!--</style>-->

</html>
